@model Hehe.Models.Categorys

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Categorys</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category_ID" class="control-label"></label>
                <input asp-for="Category_ID" class="form-control" />
                <span asp-validation-for="Category_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category_Name" class="control-label"></label>
                <input asp-for="Category_Name" class="form-control" />
                <span asp-validation-for="Category_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category_Note" class="control-label"></label>
                <input asp-for="Category_Note" class="form-control" />
                <span asp-validation-for="Category_Note" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Category_Status" /> @Html.DisplayNameFor(model => model.Category_Status)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
